server:
  port: 8083

spring:
  application:
    name: catalog-service
  data:
    mongodb:
      uri: mongodb://localhost:0/embedded
      auto-index-creation: false
  mongodb:
    embedded:
      version: 4.4.18
  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info

logging:
  level:
    com.rudraksha.shopsphere: DEBUG