server:
  port: 8084

spring:
  application:
    name: search-service
  web:
    resources:
      add-mappings: false
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/shopsphere_search}
      auto-index-creation: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: search-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
