server:
  port: 8090
  servlet:
    context-path: /analytics

spring:
  application:
    name: analytics-service
  web:
    resources:
      add-mappings: false
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/shopsphere_analytics}
      auto-index-creation: true
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: analytics-service
      auto-offset-reset: earliest
      enable-auto-commit: true
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer
      acks: all
      retries: 3

eureka:
  client:
    serviceUrl:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/
  instance:
    hostname: ${HOSTNAME:localhost}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
